@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins' , sans-serif ;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  overflow-x: hidden;
}

body{
  background: #fff;
}
a{
  text-decoration: none;
}

/* navbar css */
nav{
  position: sticky;
  top: 0;
  background:#081b29;
  color: #ededed;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

li{
  display: inline-block;
  list-style: none;
}
li a {
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-right: 30px;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 8px;
}

.active,li a:hover{
  background: #00abf0;
  transition: .5s;
}

/* from my own */

.text-animate {
  position:relative;
  width: 28.2rem;
  font-size: 3rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .7px #00abf0;
  background-image: linear-gradient(#00abf0 , #00abf0);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -28.4rem 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
  
}

.text-animate::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 2px solid #00abf0;
  z-index: -1;
  animation: homeCursorText 6s linear infinite;
  animation-delay: 2s;
  
}

@keyframes homeBgText {
  0%,10%,100% {
      background-position: -28.4rem 0;
  }
  65%,85% {
      background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,10%,100% {
      width: 0;
  }
  65%,78%,85% {
      width: 100%;
      opacity: 1;
  }
  75%,81% {
      opacity: 0;
  }
}

/* Home section css */

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.home {
  display: flex;
  align-items: center;
  padding: 0 5%;
  background: url('\homeimage.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.home-content {
  max-width: 60rem ;
  z-index: 99;
}

.home-content h1 {
  color: white;
  position: relative;
  display: inline-block;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.3;
}
.home-content p {
  color: white;
  position: relative;
  font-size: 1rem;
  margin: 2rem 15rem 4rem 0;
}
.home-content p span {
  color: var(--main-color);
  font-size: larger;
}
.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  text-decoration: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: .2rem solid #00abf0;
  border-radius:50% ;
  font-size: 20px;
  color: #00abf0;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

.home-sci a:hover {
  color: #081b29;
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background:#00abf0;
  z-index: -1;
  transition: .5s;

}

.home-sci a:hover::before {
  width: 100%;
}


/* About section css */

.about {
  min-height: 100vh;
  padding: 5rem 9% 2rem;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background: #112e42;
  padding-bottom: 6rem;
}

.heading {
  color: white;
  position: relative;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.about-img {
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: .2rem solid #00abf0;
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid #112e42;
  border-bottom: .2rem solid #112e42;
  border-left: .2rem solid #00abf0;
  border-right: .2rem solid #00abf0;
  animation: aboutSpinner 8s linear infinite;
}

.about-content{
  color: white;
  text-align: center;
}
.about-content h3 {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
}

.about-content p {
  position: relative;
  font-size: 1rem;
  margin: 2rem 0 3rem;
}
.about-content p span{
  color: var(--main-color);
}
.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 14.5rem;
  height: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background:#00abf0;
  border: .2rem solid #00abf0;
  border-radius: .8rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: #081b29;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}

/* contact section css */

.contact {
  background: var(--bg-color);
  min-height: auto;
  padding-bottom: 3rem;
}
.contact h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}
.contact form {
    max-width: 45rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box {
    position:relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}


.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btns .btn {
    cursor: pointer;
}

/* template form css */

.template {
  display: flex;
  padding: 0 5%;
  background: url('backphoto2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.template h2{
  margin-top: 10rem;
}
.template h2 span{
  color: var(--main-color);
}


/* cv-form css */
.roww {
    margin: 5px;

}

.cvform{
  padding-top: 4.5rem;
}

.col11 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: left;
}

.col12 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main-row{
    display: flex;
}

.container{
    background-color: rgb(221, 221, 221);
    border: 1px solid black;
}
.template-container {
    display: flex;
    
}
.template-box1 {
    display: flex;
}
.template-box2 {
    display: flex;
}

.card-header{
  background-color: #00abf0;
  color: #ededed;
}
.side-space{
  background: #e8e8e8;
}

.footer{
  background-color:var(--bg-color);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.template-text{
  text-align:center; 
  background-color: #1abc9c; 
  color: white; 
  margin: 4px 2px;
}

.choosetemplate{
  display: flex;
  justify-content: space-between;
}
.choosetemplate img{
  width: 230px;
  margin: auto;
  
}
.choosetemplatebutton{
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin: 5px 5rem;
}

@keyframes aboutSpinner{
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.print-batton{
 margin: 1px 31rem;
}

#cvform{
  display: none;
}
#cvformtemplate1{
  display: none;
}
#cvformtemplate2{
  display: none;
}
#cvformtemplate3{
  display: none;
}
#cvformtemplate12{
  display: none;
}
#cvformtemplate22{
  display: none;
}
#cvformtemplate32{
  display: none;
}
